.NavButton {
  position: relative;
  padding: 10px;

  svg {
    font-size: 26.25px;
    & + * {
      margin-left: 20px;
    }
  }
}
.selected {
  color: var(--c-theme) !important;
}
.notify {
  height: 17px;
  border: 1px solid var(--c-primary);
  position: absolute;
  padding-left: 5.5px;
  padding-right: 5.5px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  background-color: var(--c-theme);
  color: var(--c-text-color);
  left: 20px;
  top: 5px;
  font-size: 11px;
}
