.ProfileBox {
  padding: 10px;
  align-items: start;
  width: 100%;
  &:hover {
    color: var(--c-text-color);
  }
}
.Box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 30px;
  align-items: flex-start;
}

.IconParent {
  margin-left: auto;
  min-height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Slug {
  color: var(--c-gray);
}
