* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  padding-left: 30px;
  padding-top: 10px;
}
.icons {
  display: grid;
  font-size: 40px;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(10, 1fr);
}
button {
  margin-top: 10px;
}
