@import "variables.css";
html {
  font-size: 15px;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--c-primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
